//! **************************************************************************
// Written by: Map P.20131013 on Sat Dec 03 10:58:30 2016
//! **************************************************************************

SCHEMATIC START;
COMP "Hs" LOCATE = SITE "D6" LEVEL 1;
COMP "Vs" LOCATE = SITE "E6" LEVEL 1;
COMP "RAM1addr<10>" LOCATE = SITE "G13" LEVEL 1;
COMP "RAM1addr<11>" LOCATE = SITE "G14" LEVEL 1;
COMP "RAM1addr<12>" LOCATE = SITE "G15" LEVEL 1;
COMP "RAM1addr<13>" LOCATE = SITE "G16" LEVEL 1;
COMP "RAM1addr<14>" LOCATE = SITE "H14" LEVEL 1;
COMP "RAM1addr<15>" LOCATE = SITE "H15" LEVEL 1;
COMP "RAM1addr<16>" LOCATE = SITE "H16" LEVEL 1;
COMP "RAM1addr<17>" LOCATE = SITE "H17" LEVEL 1;
COMP "dataReady" LOCATE = SITE "A16" LEVEL 1;
COMP "RAM1data<10>" LOCATE = SITE "L15" LEVEL 1;
COMP "RAM1data<11>" LOCATE = SITE "L16" LEVEL 1;
COMP "RAM1data<12>" LOCATE = SITE "L17" LEVEL 1;
COMP "RAM1data<13>" LOCATE = SITE "L18" LEVEL 1;
COMP "RAM1data<14>" LOCATE = SITE "M13" LEVEL 1;
COMP "RAM1data<15>" LOCATE = SITE "M14" LEVEL 1;
COMP "tbre" LOCATE = SITE "D14" LEVEL 1;
COMP "tsre" LOCATE = SITE "N9" LEVEL 1;
COMP "l7<0>" LOCATE = SITE "C7" LEVEL 1;
COMP "l7<1>" LOCATE = SITE "D7" LEVEL 1;
COMP "l7<2>" LOCATE = SITE "E7" LEVEL 1;
COMP "l7<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "l7<4>" LOCATE = SITE "A8" LEVEL 1;
COMP "l7<5>" LOCATE = SITE "E8" LEVEL 1;
COMP "l7<6>" LOCATE = SITE "F8" LEVEL 1;
COMP "r7<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "r7<1>" LOCATE = SITE "D9" LEVEL 1;
COMP "r7<2>" LOCATE = SITE "E9" LEVEL 1;
COMP "r7<3>" LOCATE = SITE "F9" LEVEL 1;
COMP "r7<4>" LOCATE = SITE "G9" LEVEL 1;
COMP "r7<5>" LOCATE = SITE "A10" LEVEL 1;
COMP "r7<6>" LOCATE = SITE "B10" LEVEL 1;
COMP "ins<10>" LOCATE = SITE "F12" LEVEL 1;
COMP "ins<11>" LOCATE = SITE "A13" LEVEL 1;
COMP "ins<12>" LOCATE = SITE "B13" LEVEL 1;
COMP "ins<13>" LOCATE = SITE "D13" LEVEL 1;
COMP "ins<14>" LOCATE = SITE "E13" LEVEL 1;
COMP "ins<15>" LOCATE = SITE "A14" LEVEL 1;
COMP "outRam2Addr<0>" LOCATE = SITE "N14" LEVEL 1;
COMP "outRam2Addr<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "outRam2Addr<2>" LOCATE = SITE "N18" LEVEL 1;
COMP "outRam2Addr<3>" LOCATE = SITE "P16" LEVEL 1;
COMP "outRam2Addr<4>" LOCATE = SITE "P17" LEVEL 1;
COMP "outRam2Addr<5>" LOCATE = SITE "P18" LEVEL 1;
COMP "outRam2Addr<6>" LOCATE = SITE "R15" LEVEL 1;
COMP "outRam2Addr<7>" LOCATE = SITE "R16" LEVEL 1;
COMP "outRam2Addr<8>" LOCATE = SITE "R18" LEVEL 1;
COMP "outRam2Addr<9>" LOCATE = SITE "T17" LEVEL 1;
COMP "outRam2Data<0>" LOCATE = SITE "U13" LEVEL 1;
COMP "outRam2Data<1>" LOCATE = SITE "T16" LEVEL 1;
COMP "outRam2Data<2>" LOCATE = SITE "T15" LEVEL 1;
COMP "inclk" LOCATE = SITE "B9" LEVEL 1;
COMP "outRam2Data<3>" LOCATE = SITE "T14" LEVEL 1;
COMP "outRam2Data<4>" LOCATE = SITE "T12" LEVEL 1;
COMP "outRam2Data<5>" LOCATE = SITE "R13" LEVEL 1;
COMP "outRam2Data<6>" LOCATE = SITE "R14" LEVEL 1;
COMP "outRam2Data<7>" LOCATE = SITE "R12" LEVEL 1;
COMP "outRam2Data<8>" LOCATE = SITE "R11" LEVEL 1;
COMP "outRam2Data<9>" LOCATE = SITE "R10" LEVEL 1;
COMP "inrst" LOCATE = SITE "U10" LEVEL 1;
COMP "RAM1EN" LOCATE = SITE "M15" LEVEL 1;
COMP "RAM1OE" LOCATE = SITE "M16" LEVEL 1;
COMP "RAM1WE" LOCATE = SITE "M18" LEVEL 1;
COMP "RAM1addr<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "RAM1addr<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "RAM1addr<2>" LOCATE = SITE "D16" LEVEL 1;
COMP "RAM1addr<3>" LOCATE = SITE "D17" LEVEL 1;
COMP "RAM1addr<4>" LOCATE = SITE "E15" LEVEL 1;
COMP "RAM1addr<5>" LOCATE = SITE "E16" LEVEL 1;
COMP "RAM1addr<6>" LOCATE = SITE "F14" LEVEL 1;
COMP "RAM1addr<7>" LOCATE = SITE "F15" LEVEL 1;
COMP "RAM1addr<8>" LOCATE = SITE "F17" LEVEL 1;
COMP "RAM1addr<9>" LOCATE = SITE "F18" LEVEL 1;
COMP "RAM1data<0>" LOCATE = SITE "J12" LEVEL 1;
COMP "RAM1data<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "RAM1data<2>" LOCATE = SITE "J14" LEVEL 1;
COMP "RAM1data<3>" LOCATE = SITE "J15" LEVEL 1;
COMP "RAM1data<4>" LOCATE = SITE "J16" LEVEL 1;
COMP "RAM1data<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "RAM1data<6>" LOCATE = SITE "K12" LEVEL 1;
COMP "RAM1data<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "RAM1data<8>" LOCATE = SITE "K14" LEVEL 1;
COMP "RAM1data<9>" LOCATE = SITE "K15" LEVEL 1;
COMP "outRam2Addr<10>" LOCATE = SITE "T18" LEVEL 1;
COMP "outRam2Addr<11>" LOCATE = SITE "U18" LEVEL 1;
COMP "outRam2Addr<12>" LOCATE = SITE "V15" LEVEL 1;
COMP "outRam2Addr<13>" LOCATE = SITE "V13" LEVEL 1;
COMP "outRam2Addr<14>" LOCATE = SITE "V12" LEVEL 1;
COMP "outRam2Addr<15>" LOCATE = SITE "V9" LEVEL 1;
COMP "outRam2Addr<16>" LOCATE = SITE "U16" LEVEL 1;
COMP "outRam2Addr<17>" LOCATE = SITE "U15" LEVEL 1;
COMP "outRam2EN" LOCATE = SITE "N10" LEVEL 1;
COMP "outRam2OE" LOCATE = SITE "R9" LEVEL 1;
COMP "outRam2WE" LOCATE = SITE "M9" LEVEL 1;
COMP "ins<0>" LOCATE = SITE "D10" LEVEL 1;
COMP "ins<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "ins<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "ins<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "ins<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "ins<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "ins<6>" LOCATE = SITE "E11" LEVEL 1;
COMP "ins<7>" LOCATE = SITE "F11" LEVEL 1;
COMP "ins<8>" LOCATE = SITE "A12" LEVEL 1;
COMP "ins<9>" LOCATE = SITE "E12" LEVEL 1;
COMP "outRam2Data<10>" LOCATE = SITE "P13" LEVEL 1;
COMP "outRam2Data<11>" LOCATE = SITE "P12" LEVEL 1;
COMP "outRam2Data<12>" LOCATE = SITE "P11" LEVEL 1;
COMP "outRam2Data<13>" LOCATE = SITE "P10" LEVEL 1;
COMP "outRam2Data<14>" LOCATE = SITE "N12" LEVEL 1;
COMP "outRam2Data<15>" LOCATE = SITE "N11" LEVEL 1;
COMP "vgaclk" LOCATE = SITE "U9" LEVEL 1;
COMP "outrdn" LOCATE = SITE "C14" LEVEL 1;
COMP "outwdn" LOCATE = SITE "U5" LEVEL 1;
NET "inclk_BUFGP/IBUFG" BEL "inclk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

