

NET "RAM1addr[17]" LOC = H17;
NET "RAM1addr[16]" LOC = H16;
NET "RAM1addr[15]" LOC = H15;
NET "RAM1addr[14]" LOC = H14;
NET "RAM1addr[13]" LOC = G16;
NET "RAM1addr[12]" LOC = G15;
NET "RAM1addr[11]" LOC = G14;
NET "RAM1addr[10]" LOC = G13;
NET "RAM1addr[9]" LOC = F18;
NET "RAM1addr[8]" LOC = F17;
NET "RAM1addr[7]" LOC = F15;
NET "RAM1addr[6]" LOC = F14;
NET "RAM1addr[5]" LOC = E16;
NET "RAM1addr[4]" LOC = E15;
NET "RAM1addr[3]" LOC = D17;
NET "RAM1addr[2]" LOC = D16;
NET "RAM1addr[1]" LOC = C18;
NET "RAM1addr[0]" LOC = C17;
NET "RAM1data[15]" LOC = M14;
NET "RAM1data[14]" LOC = M13;
NET "RAM1data[13]" LOC = L18;
NET "RAM1data[12]" LOC = L17;
NET "RAM1data[11]" LOC = L16;
NET "RAM1data[10]" LOC = L15;
NET "RAM1data[9]" LOC = K15;
NET "RAM1data[8]" LOC = K14;
NET "RAM1data[7]" LOC = K13;
NET "RAM1data[6]" LOC = K12;
NET "RAM1data[5]" LOC = J17;
NET "RAM1data[4]" LOC = J16;
NET "RAM1data[3]" LOC = J15;
NET "RAM1data[2]" LOC = J14;
NET "RAM1data[1]" LOC = J13;
NET "RAM1data[0]" LOC = J12;
NET "outRam2Addr[17]" LOC = U15;
NET "outRam2Addr[16]" LOC = U16;
NET "outRam2Addr[15]" LOC = V9;
NET "outRam2Addr[14]" LOC = V12;
NET "outRam2Addr[13]" LOC = V13;
NET "outRam2Addr[12]" LOC = V15;
NET "outRam2Addr[11]" LOC = U18;
NET "outRam2Addr[10]" LOC = T18;
NET "outRam2Addr[9]" LOC = T17;
NET "outRam2Addr[8]" LOC = R18;
NET "outRam2Addr[7]" LOC = R16;
NET "outRam2Addr[6]" LOC = R15;
NET "outRam2Addr[5]" LOC = P18;
NET "outRam2Addr[4]" LOC = P17;
NET "outRam2Addr[3]" LOC = P16;
NET "outRam2Addr[2]" LOC = N18;
NET "outRam2Addr[1]" LOC = N15;
NET "outRam2Addr[0]" LOC = N14;
NET "outRam2Data[15]" LOC = N11;
NET "outRam2Data[14]" LOC = N12;
NET "outRam2Data[13]" LOC = P10;
NET "outRam2Data[12]" LOC = P11;
NET "outRam2Data[11]" LOC = P12;
NET "outRam2Data[10]" LOC = P13;
NET "outRam2Data[9]" LOC = R10;
NET "outRam2Data[8]" LOC = R11;
NET "outRam2Data[7]" LOC = R12;
NET "outRam2Data[6]" LOC = R14;
NET "outRam2Data[5]" LOC = R13;
NET "outRam2Data[4]" LOC = T12;
NET "outRam2Data[3]" LOC = T14;
NET "outRam2Data[2]" LOC = T15;
NET "outRam2Data[1]" LOC = T16;
NET "outRam2Data[0]" LOC = U13;
NET "dataReady" LOC = A16;
NET "RAM1EN" LOC = M15;
NET "RAM1OE" LOC = M16;
NET "RAM1WE" LOC = M18;
NET "outRam2EN" LOC = N10;
NET "outRam2OE" LOC = R9;
NET "outRam2WE" LOC = M9;
NET "outrdn" LOC = C14;
NET "tsre" LOC = N9;
NET "tbre" LOC = D14;
NET "outwdn" LOC = U5;


NET "ins[15]" LOC = A14;
NET "ins[14]" LOC = E13;
NET "ins[13]" LOC = D13;
NET "ins[12]" LOC = B13;
NET "ins[11]" LOC = A13;
NET "ins[10]" LOC = F12;
NET "ins[9]" LOC = E12;
NET "ins[8]" LOC = A12;
NET "ins[7]" LOC = F11;
NET "ins[6]" LOC = E11;
NET "ins[5]" LOC = D11;
NET "ins[4]" LOC = C11;
NET "ins[3]" LOC = B11;
NET "ins[2]" LOC = A11;
NET "ins[1]" LOC = E10;
NET "ins[0]" LOC = D10;


NET "l7[6]" LOC = F8;
NET "l7[5]" LOC = E8;
NET "l7[4]" LOC = A8;
NET "l7[3]" LOC = F7;
NET "l7[2]" LOC = E7;
NET "l7[1]" LOC = D7;
NET "l7[0]" LOC = C7;

NET "r7[6]" LOC = B10;
NET "r7[5]" LOC = A10;
NET "r7[4]" LOC = G9;
NET "r7[3]" LOC = F9;
NET "r7[2]" LOC = E9;
NET "r7[1]" LOC = D9;
NET "r7[0]" LOC = C9;

# PlanAhead Generated physical constraints 

NET "inclk" LOC = B9;
NET "vgaclk" LOC = U9;
NET "inrst" LOC = U10;

NET "Hs" LOC = D6;
NET "Vs" LOC = E6;